.container-left-login, .container-right-login{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-left-login{
	background-color: #214185;
}

.img-login-admin{
	height: 500px;
	width: 500px;
}

.card-login-admin{
	border-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	width: 350px;
}