.logo-header {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  display: inline-block;
}

.header-web{
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #0F1108;
}

.menu-web{
	background-color: #0F1108;
	color: #fff;
	display: inline-block;
}

.nav-web-right{
	float: right;
	width: 150px;
  	height: 31px;
  	margin: 16px 0px 16px 0;
  	display: inline-block;
}

.icon-header-web{
	font-size: 2em;
	color: #fff;
}